@media screen and (max-width: 980px){
	#contenido section{width:100%;}
	#contenido section article{width:49%; height:350px;}
	#contenido section article img{height:300px;}
	#contacto section form{width:100%;}
	
	
}
@media screen and (max-width: 800px){
	#contenido section article{width:80%; height:auto;}
	#contenido section article img{height:auto;}
	
}
@media screen and (max-width: 500px){
	#contenido section article{width:100%;}
	
}